body{
    padding: 0px;
    margin: 0px;
   
}

.bg-container{
   height: 100vh;
   background-image: url("../../../images/bg.jpg");
   background-color: #cccccc;
   background-repeat: no-repeat;
   background-size: cover;
   overflow: hidden;
   filter: brightness(80%);
}

.animated-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  flex-wrap: wrap;
}

.animated-text span {
  display: inline-block;
  animation: animationName 2s ease-in-out forwards;
  opacity: 0;
  transform: translateY(-30px);
  width: 17%;
  text-align: center;
  font-size: 80px;
  color: #FFFFFFFF;
  margin: 0 10px;
  font-family:serif;
}

@keyframes animationName {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated-text span:nth-child(1) {
  animation-delay: 0s;
}

.animated-text span:nth-child(2) {
  animation-delay: 0.6s;
}

.animated-text span:nth-child(3) {
  animation-delay: 0.8s;
}


.main-title{
    padding-top: 70px;
    
}
.button_group{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -100px;
}
.button-login{
  width: 200px;
  height: auto;
  background-color: yellow;
  text-align: center;
  border-radius: 15px;

}
.button-login Button{
   color: black;
}
.button-signup{
  width: 200px;
   height: auto;
  text-align: center;
  margin-left: 50px;
  border-radius: 15px;
  border: 2px solid red;
}
.button-signup Button{
  color: white;
}
.to{
  padding-left: 110px;
}